html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 0.063rem;
  }

  @include phones {
    // font-size: $baseFontSize - 2px;
    font-size: $baseFontSize - 0.125rem;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $white;
  font-family: 'Play', 'Alegreya Sans', Helvetica, sans-serif;
  color: $black;
  line-height: 1.42;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

section {
  height: 100%;
}

.body--active-menu {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper__main {
  min-height: 100%;
  transition: transform 1s;
  will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-radius: collapse;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

button {
  background: transparent;
  border: none;
  transition: 0.3s;
}