@use 'sass:math';

$basesize: 16;

// colors
$red: #E01F3D;
$grey: #666666;
$black: #292929;
$white: #FFFFFF;
$red-btn: #CA1B36;
$white-background: #F5F5F5;
$grey-a: #C4C4C4;
$white-r: #F8FAF9;
$black-background: #181818;
$grey-parameters: #9A9A9A;
$accent: #0BACF0;
$warn: #9D0000;
$light: #E1E1E1;
$text: #2A2A2A;
$placeholder: #C2C2C2;
$label: #868686;
$field: #FFFEF1;
$own: #F7FFF4;
$green:#25D366;

/* Утилиты */
// подключить шрифт
// Очень долго разбирался как это работает, не мог понять почему выходит ошибка.
// Когда ошибка была в путях($folder: "/fonts/), то ошибка выскакивала о всех форматах файлов
// Когда путь правельный, то я не обратил внимания, что в ошибке говорится только о отсутвующих файлах.
// Я надеюсь что так и должно работать.
@mixin font-face($file, $family, $weight: "normal", $folder: "/fonts/") {
  @font-face {
    font-family: $family;
    src: url("#{$folder}#{$file}.eot?#iefix") format('embedded-opentype'),
    url("#{$folder}#{$file}.woff") format('woff'),
    url("#{$folder}#{$file}.woff2") format('woff2'),
    url("#{$folder}#{$file}.ttf") format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}

// resets
// total reset of everything
@mixin reset() {

  body,
  div,
  dl,
  dt,
  dd,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  fieldset,
  img,
  abbr {
    border: 0;
  }

  address,
  caption,
  cite,
  code,
  dfn,
  em,
  strong,
  th,
  var {
    font-style: normal;
    font-weight: normal;
  }

  ul li {
    list-style: none;
  }

  caption,
  th {
    text-align: left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }

  sup {
    vertical-align: text-top;
  }

  sub {
    vertical-align: text-bottom;
  }

  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  legend {
    color: #000;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  main {
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  * {
    box-sizing: border-box;
  }
}

// общий сброс элемента
%reset-input {
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  appearance: none;
  background: none;
  box-shadow: none;
  line-height: 1.1;
  max-width: none;
  outline: none;
  border: none;
  min-width: 0;
  padding: 0;
}

// сброс кнопки
%reset-button {
  @extend %reset-input;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}