.button {
  $self: &;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;

  &__text {
    font-size: 18px;
    text-decoration: none;
    font-family: "GB";
    line-height: 24px;

    @include media('<=sm') {
      font-size: 16px;
      line-height: 20px;
    }
  }
}