.description {
  $self: &;

  &__container {
    margin-top: 96px;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headline {}

  &__content {}

  &__benefits {}

  &__benefit {}

  &__benefit-images {}

  &__benefit-img {}

  &__text {}

  &__title {}

  &__desc {}

  &__pic {}

  &__img {}

}