.connection {
  $self: &;
  z-index: 10;

  &__container.container {
    // margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 124px;

    @include media('<=sm') {
      // margin-top: 54px;
      padding-top: 54px;
      margin-bottom: 35px;
    }
  }

  &__headline {
    margin-bottom: 66px;
    text-align: center;
    font-size: 46px;
    font-family: "GEB", sans-serif;
    line-height: 64px;
    color: $text;

    @include media('<=sm') {
      margin-bottom: 61px;
      font-size: 33px;
      line-height: 39px;
    }
  }

  &__content {

    &::after {
      content: "";
      position: absolute;
      top: 170px;
      left: 2px;
      width: 100%;
      height: 30%;
      background: url(/images/lines.png) no-repeat center/contain;

      @include media('<=xlg') {
        content: none;
      }

      @include media('<=sm') {
        content: none;
      }
    }
  }

  &__benefits {
    display: flex;
    text-align: center;
  }

  &__benefit {
    flex-shrink: 1;
    position: relative;
    margin-right: 181px;

    @include media('<=xlg') {
      margin-right: 10px;
    }

    @include media('<=sm') {
      margin-right: 25px;
    }

    @include media('<=xs') {
      margin-right: 40%;
    }

    &:nth-child(2) {
      margin-top: 67px;

      @include media('<=sm') {
        margin-top: 4px;
      }

      @include media('<=xs') {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1)::after {
      content: "";
      position: absolute;
      background: url(/images/Ellipse-14.svg) no-repeat center/contain;
      left: -20px;
      bottom: 42px;
      width: 100px;
      height: 100px;
      filter: blur(80px);
      z-index: -1;
    }

    &:nth-child(2)::after {
      content: "";
      position: absolute;
      background: url(/images/Ellipse-15.svg) no-repeat center/contain;
      left: -10px;
      bottom: 130px;
      width: 64px;
      height: 64px;
      filter: blur(80px);
      z-index: -1;
    }

    &:nth-child(2)::before {
      content: "";
      background: url(/images/Ellipse-16.svg) no-repeat center/contain;
      left: 150px;
      bottom: -20px;
      position: absolute;
      width: 75px;
      height: 75px;
      filter: blur(80px);
      z-index: -1;
    }

    &:nth-child(3) {

      @include media('<=xs') {
        display: none;
      }
    }

    &:nth-child(3)::after {
      content: "";
      background: url(/images/Ellipse-13.svg) no-repeat center/contain;
      left: 9px;
      bottom: 55px;
      position: absolute;
      width: 108px;
      height: 110px;
      filter: blur(80px);
      z-index: -1;
    }
  }

  &__caption {
    margin-bottom: 45px;

    @include media('<=sm') {
      margin-bottom: 36px;
    }

    @include media('<=xs') {
      margin-bottom: 47px;
    }
  }

  &__lead {
    position: relative;
    text-align: center;
    font-family: "GB";
    font-size: 30px;
    line-height: 30px;
    color: $violet;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: $violet-n;
      z-index: -1;
    }

  }

  &__subtitle {
    margin-bottom: 5px;
    text-align: center;
    font-family: "GB";
    font-size: 19px;
    line-height: 29px;
    color: $text;

    @include media('<=sm') {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__text {
    margin-bottom: 26px;
    text-align: center;
    font-family: "GR";
    font-size: 17px;
    line-height: 27px;
    color: $text;

    @include media('<=sm') {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__pic {
    min-width: 211px;

    @include media('<=xlg') {
      min-width: 212px;
    }

    // @include media('<=sm') {
    //   min-width: 212px;
    // }
  }

  &__img {}

  &__input {}

  &__button {}

  &__item-dots {
    display: none;

    @include media('<=xs') {
      display: block;
      margin-top: 20px;
    }
  }

}