.connection {
  $self: &;
  z-index: 10;

  &__container.container {
    margin-top: 100px;
  }

  &__headline {
    text-align: center;
    color: $text;
    font-size: 46px;
    font-family: "GEB", sans-serif;
    line-height: 64px;
    margin-bottom: 66px;
  }

  &__content {

    &::after {
      content: "";
      position: absolute;
      top: 90px;
      left: 2px;
      width: 100%;
      height: 16%;
      background: url(/images/lines.png) no-repeat;
    }
  }

  &__benefits {
    display: flex;
    text-align: center;
  }

  &__benefit {
    margin-right: 181px;

    &:nth-child(2) {
      margin-top: 67px;
    }

    &:last-child {
      margin-right: 0px;
    }

    position: relative;

    &:nth-child(1)::after {
      content: "";
      position: absolute;
      background: url(/images/Ellipse-14.svg) no-repeat;
      left: -60px;
      bottom: 42px;
      position: absolute;
      width: 75%;
      height: 26%;
      filter: blur(80px);
      z-index: -1;
    }

    &:nth-child(2)::after {
      content: "";
      background: url(/images/Ellipse-15.svg) no-repeat;
      left: -6px;
      bottom: 231px;
      position: absolute;
      width: 55%;
      height: 18%;
      filter: blur(80px);
      z-index: -1;
    }

    &:nth-child(2)::before {
      content: "";
      background: url(/images/Ellipse-16.svg) no-repeat;
      left: 120px;
      bottom: 40px;
      position: absolute;
      width: 56%;
      height: 21%;
      filter: blur(80px);
      z-index: -1;
    }

    &:nth-child(3)::after {
      content: "";
      background: url(/images/Ellipse-13.svg) no-repeat;
      left: -31px;
      bottom: 55px;
      position: absolute;
      width: 92%;
      height: 27%;
      filter: blur(80px);
      z-index: -1;
    }
  }

  &__caption {
    margin-bottom: 45px;
  }

  &__lead {
    position: relative;
    text-align: center;
    font-family: "GB";
    font-size: 30px;
    line-height: 30px;
    color: $violet;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 79px;
      height: 79px;
      border-radius: 50%;
      background-color: $violet-n;
      z-index: -1;
    }

  }

  &__subtitle {
    margin-bottom: 5px;
    text-align: center;
    font-family: "GB";
    font-size: 19px;
    line-height: 29px;
    color: $text;
  }

  &__text {
    margin-bottom: 26px;
    text-align: center;
    font-family: "GR";
    font-size: 17px;
    line-height: 27px;
    color: $text;
  }

  &__pic {}

  &__img {}

  &__input {}

  &__button {}

}