@import "layout/layout.scss";
@include reset();

// Include breakpoints badge
body {
  @include screen-media();
}

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
  'xxxs': 360px,
  'xxs': 480px,
  'xs': 640px,
  'sm': 780px,
  'md': 960px,
  'lg': 1100px,
  'xlg': 1280px,
  'xxlg': 1440px,
  'xxxlg': 1680px,
  'xxxxlg': 1920px);

@import "../../node_modules/animate-scss/_properties.scss",
"../../node_modules/animate-scss/_sliding-entrances/sliding-entrances.scss"
, "../../node_modules/animate-scss/_attention-seekers/_bounce.scss";


// fonts
@include font-face("Gilroy-Regular", "GR");
@include font-face("Gilroy-Bold", "GB");
@include font-face("Gilroy-ExtraBold", "GEB");
@include font-face("Gilroy-Medium", "GM");
@include font-face("Gilroy-SemiBold", "GSM");
@include font-face("NunitoSans-Regular", "NSR");
@include font-face("AlegreyaSans-Regular", "ASR");
@include font-face("Inter-Medium", "IM");

// Import BEM blocks scss
@import "../blocks/**/*.scss";

body,
html {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  // overflow-x: hidden;
  font-size: #{$basesize}px;
  line-height: 1.2;
  font-family: "GR", sans-serif;
  background-color: $white;
  color: #{$text};
  scroll-behavior: smooth;
}

.button-violet {
  background-color: $violet;
  color: $white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  transition: background-color 0.2s ease-out, text-shadow 0.2s ease-out;

  &:hover {
    background-color: $btn-h;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.14);
  }

  &:active {
    background-color: $btn-a;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.14);
  }
}

.button-violet-n {
  background-color: $violet-n;
  color: $violet;

  &:hover {
    background-color: $violet-h;
  }

  &:active {
    background-color: $btn-a;
    color: $white;
  }
}

// animation button
.animation-button {
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.6s ease, box-shadow 0.6s ease, box-shadow 0.6s ease;

  &:hover {
    border-radius: 50%;
    box-shadow: 0 0 2px 2px $violet-h;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

}

// body {
//   padding-top: 34px;

//   @include media('<=xs') {
//     padding-top: 32px;
//   }
// }