@import "layout/layout.scss";
@include reset();

$breakpoints: ('xxxs': 360px,
  'xxs': 480px,
  'xs': 640px,
  'sm': 780px,
  'md': 960px,
  'lg': 1100px,
  'xlg': 1280px,
  'xxlg': 1440px,
  'xxxlg': 1680px,
  'xxxxlg': 1920px);

// fonts
@include font-face("Gilroy-Regular", "GR");
@include font-face("Gilroy-Bold", "GB");
@include font-face("Gilroy-ExtraBold", "GEB");
@include font-face("Gilroy-Medium", "GM");
@include font-face("Gilroy-SemiBold", "GSM");
@include font-face("Nunito-SansRegular", "NSR");
@include font-face("Inter-Medium", "IM");

// Import BEM blocks scss
@import "../blocks/**/*.scss";

body,
html {
  box-sizing: border-box;
  font-size: #{$basesize}px;
  line-height: 1.2;
  // font-family: sans-serif;
  font-family: "GR", sans-serif;
  background-color: $white;
  color: #{$text};
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}