.hero {
  $self: &;

  &__content {
    display: flex;
    position: relative;
  }

  &__picture {
    position: absolute;
    right: 10px;
  }

  &__img {}

  &__title {
    position: relative;
    width: 50%;
  }

  &__main {}

  &__text {}

  &__button {}

}