.hero {
  $self: &;

  &__container {
    margin-top: 32px;
  }

  &__content {
    display: flex;
    // position: relative;
  }

  &__picture {
    position: absolute;
    top: 167px;
    right: 0;
    width: 60%;
  }

  &__img {}

  &__title {
    position: relative;
    width: 50%;
    margin-bottom: 285px;
  }

  &__headline {}

  &__text {}

  &__button {}

}