.hero {
  $self: &;

  &__container {
    margin-top: 32px;
    margin-bottom: 270px;
    z-index: 2;

    @include media('<=sm') {
      margin-bottom: 73px;
    }

    @include media('<=xs') {
      margin-top: 32px;
      margin-bottom: 10px;
    }
  }

  &__content {
    display: flex;
    // position: relative;

    @include media('<=xs') {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__picture {
    position: absolute;
    top: 150px;
    right: 0;
    width: 60%;

    @include media('<=sm') {
      top: 87px;
      width: 420px;
      height: 338px;
    }
    
    @include media('<=xs') {
      position: static;
      max-width: 500px;
      margin-top: 10%;
    }

    &::before {
      content: "";
      position: absolute;
      background: url(/images/Purple-Circle-2.svg) no-repeat center/contain;
      top: 160px;
      left: 280px;
      width: 343px;
      height: 257px;
      filter: blur(80px);
      z-index: -1;

      @include media('<=xlg') {
        top: 80px;
        left: 300px;
        width: 182px;
        height: 136px;
      }

      @include media('<=xlg') {
        left: 260px;
      }

      @include media('<=sm') {
        top: 80px;
        left: 200px;
        width: 182px;
        height: 136px;
      }

      @include media('<=xs') {
        top: 80px;
        left: 200px;
        width: 102px;
        height: 136px;
      }

    }

    &::after {
      content: "";
      position: absolute;
      background: url(/images/Turquoise-Circle.svg) no-repeat center/contain;
      top: -50px;
      left: 130px;
      width: 133px;
      height: 133px;
      filter: blur(80px);
      z-index: -1;

      @include media('<=sm') {
        top: -60px;
        left: 100px;
        left: 70px;
        width: 70px;
      }
    }
  }

  &__img {

    @include media('<=xs') {
      // width: 100%;
    }
  }

  &__title {
    position: relative;
    width: 50%;


    @include media('<=xs') {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      background: url(/images/Purple-Circle.svg) no-repeat center/contain;
      top: 260px;
      left: -60px;
      width: 189px;
      height: 142px;
      filter: blur(80px);
      z-index: -1;

      @include media('<=sm') {
        width: 100px;
        height: 75px;
        top: 260px;
        left: -10px;
      }
    }
  }

  &__headline {
    color: $text;
    font-size: 50px;
    font-family: "GEB", sans-serif;
    line-height: 60px;
    max-width: 383px;
    margin-bottom: 24px;
    min-height: 120px;

    @include media('<=sm') {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 32px;
      min-height: 80px;
    }

    .headline-text {
      color: $violet;
    }
  }

  &__text {
    max-width: 482px;
    margin-bottom: 33px;
    font-size: 24px;
    font-family: "GR";
    line-height: 34px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: $text;

    span {
      color: $violet;
      font-family: "GEB";
    }

    @include media('<=sm') {
      max-width: 270px;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__button {
    padding: 12px 32px;
  }

  &__text-btn {

    @include media('<=sm') {
      font-size: 18px;
      line-height: 24px;
    }
  }
}