.rates {
  $self: &;

  &__container {
    margin-top: 100px;

    @include media('<=sm') {
      margin-top: 44px;
    }
  }

  &__contents {}

  &__headline {
    margin-bottom: 16px;
    text-align: center;
    color: $text;
    font-size: 46px;
    font-family: "GEB", sans-serif;
    line-height: 64px;

    @include media('<=sm') {
      margin-bottom: 8px;
      font-size: 32px;
      line-height: 40px;
    }

  }

  &__headline-desc {
    margin-bottom: 40px;
    text-align: center;
    color: $text;
    font-size: 24px;
    font-family: "GB", sans-serif;
    font-style: normal;
    line-height: 32px;

    @include media('<=sm') {
      margin-bottom: 44px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__content {
    @include media('<=sm') {
      margin-bottom: 25px;
    }
  }

  &__benefits {
    display: flex;
    justify-content: space-between;
  }

  &__benefit {
    width: 100%;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0px 10px 20px 0px #685ED60D;
    border-radius: 6px;

    &:last-child {
      margin-right: 0px;
    }

    @include media('<=sm') {
      display: none;
      margin-right: 14px;
      width: 326px;

      &.active-slide {
        display: block;
      }
    }
  }

  &__benefit-content {}

  &__text {
    margin-bottom: 40px;
    background-color: #685ED60D;
    color: $violet;
    font-size: 24px;
    font-family: "GEB", sans-serif;
    line-height: 48px;

    @include media('<=sm') {
      margin-bottom: 46px;
      font-size: 24px;
      line-height: 48px;
    }
  }

  &__aside {}

  &__subtitle {
    max-width: 255px;
    margin: auto auto 32px;
    font-size: 28px;
    font-family: "GB", sans-serif;
    line-height: 40px;
    color: $text;
  }

  &__desc {
    max-width: 255px;
    margin: auto auto 32px;
    font-size: 20px;
    font-family: "GM", sans-serif;
    line-height: 30px;
    color: $text;

    @include media('<=sm') {
      margin: auto auto 45px;
    }
  }

  &__button {
    width: 270px;
    padding: 12px 32px;
    margin-bottom: 50px;
  }

  &__text-button {
    @include media('<=sm') {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__item-dots {
    display: none;

    @include media('<=sm') {
      display: block;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
  }

  &__dot {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    // margin-right: 10px;
    border-radius: 50%;
    border: 2px solid $violet;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      opacity: 0;
      cursor: pointer;

      @include media('<=sm') {
        top: -10px;
        left: -13px;
      }
    }

    &.active-dot {
      background-color: $violet;
    }
  }

}