.footer {
  $self: &;
  background: $text;

  &__container {}

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 111px auto 78px;
    width: 95%;
    max-width: 1110px;
    position: relative;

    @include media('<=sm') {
      margin: 61px auto 25px;
      width: 89.7%;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;

    &.logo {
      @include media('<=sm') {
        margin-right: 153px;
      }
    }
  }

  &__img {
    width: 80px;
    margin-bottom: 10px;

    @include media('<=sm') {
      margin-bottom: 7px;
      margin-left: 5px;
      width: 78px;
      height: 60px;
    }
  }

  &__title {

    
    &.logo__title {
      color: $white;

      @include media('<=sm') {
        font-size: 32px;
        line-height: 24px;
      }
    }
  }


  &__wrap {
    display: flex;
  }

  &__inner {
    margin-right: 165px;

    @include media('<=sm') {
      margin-right: 59px;
    }

    &:last-child {
      width: 230px;
      margin-right: 132px;
    }

  }

  &__subtitle {
    margin-bottom: 32px;
    white-space: nowrap;
    font-family: "GM";
    font-size: 20px;
    line-height: 21px;
    color: $h-text;


    @include media('<=sm') {
      line-height: 30px;
    }
  }

  &__list a {
    font-family: "GR";
    font-size: 16px;
    line-height: 26px;
    color: $f-text;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    & a:hover {
      color: $violet-h;
    }

    & a {
      transition: color .1s ease-out;
    }
  }

  &__link {}

  &__copyright {
    background: $bg-black;
  }

  &__copyright-container {
    width: 95%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 25px 0;
    font-family: "GR";
    font-size: 14px;
    line-height: 24px;
    color: $c-text;
  }
}