.footer {
  $self: &;
  background: $text;

  &__container {}

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 111px auto 78px;
    width: 95%;
    max-width: 1110px;
    position: relative;
  }

  &__logo {
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__title.logo__title {
    color: $white;
  }

  &__wrap {
    display: flex;
  }

  &__inner {
    margin-right: 116px;

    &:last-child {
      margin-right: 157px;
    }
  }

  &__subtitle {
    margin-bottom: 32px;
    font-family: "GM";
    font-size: 20px;
    line-height: 30px;
    color: $h-text;
  }

  &__list a {
    font-family: "GR";
    font-size: 16px;
    line-height: 26px;
    color: $f-text;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    & a:hover {
      color: $violet-h;
    }

    & a {
      transition: color .1s ease-out;
    }
  }

  &__link {}

  &__copyright {
    background: $bg-black;
  }

  &__copyright-container {
    width: 95%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 25px 0;
    font-family: "GR";
    font-size: 14px;
    line-height: 24px;
    color: $c-text;
  }

}