.footer {
  $self: &;
  background: $text;

  &__container {}

  &__nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    max-width: 1110px;
    position: relative;
  }

  &__wrap {
    margin-top: 111px;
    display: flex;
  }

  &__inner {
    margin-right: 116px;

    &:last-child {
      margin-right: 157px;
    }
  }

  &__subtitle {}

  &__list {}

  &__item {}

  &__link {}

  &__copyright {
    background: $bg-black;
  }

  &__copyright-container {
    margin: 0 auto;
    width: 95%;
    max-width: 1110px;
    position: relative;
  }

}