.logo {
  $self: &;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media('<=sm') {
    margin-right: 2px;
  }

  &__img {}

  &__title {
    text-decoration: none;
    color: $text;
    font-size: 28px;
    font-family: "GB", sans-serif;
    line-height: 21px;
  }
}