.header {
  $self: &;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 126px;
  z-index: 1;

  &__buttons {}

  &__button {
    padding: 10px 20px;
    transition: background-color 0.2s ease-out;

    &:first-child {
      margin-right: 12px;
    }
  }

  &__button-login {
    background-color: $violet-n;
    color: $violet;

    &:hover {
      background-color: $violet-h;
    }

    &:active {
      background-color: $btn-a;
      color: $white;
    }
  }

  &__button-registration {
    background-color: $violet;
    color: $white;

    &:hover {
      background-color: $btn-h;
    }

    &:active {
      background-color: $btn-a;
    }
  }
}