.header {
  $self: &;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 126px;
  z-index: 1;

  @include media('<=sm') {
    align-items: flex-start;
    margin: 0 0 42px;
  }

  &__menu {
    width: 50%;
    // display: flex;
    // align-items: center;

    @include media('<=sm') {
      width: 51.5%;
    }
  }

  &__buttons {}

  &__button {
    padding: 10px 20px;
    transition: background-color 0.2s ease-out;

    &:first-child {
      margin-right: 12px;

      @include media('<=sm') {
        margin-right: 11px;
      }
    }
  }
}